.choice {

    &-team {

        &-tab {
            margin-left: 15px;

            &_table {
                margin-left: 10px;
            }
    
            &_squad {
                margin-left: 10px;
            }
        }
    }
}